.tasks-card {
  width: 800px;
  margin-top: 35px;
  margin-bottom: 50px;
}

.tasks-grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  margin-top: 15px;
  margin-bottom: 10px;
}

.task-tile {
  cursor: pointer;
}

.task-tile mat-card-header {
  margin-bottom: 10px;
}

.task-tile mat-card-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px
}

.task-description {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.main-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main-card-header button {
  margin-top: -8px;
  margin-bottom: -4px;
}

.filters-card {
  margin-top: 15px;
}

.filters-card mat-card-actions {
  display: flex;
  justify-content: right;
  margin-right: 10px;
}

.filters-internal-container {
  display: flex;
  justify-content: space-between;
}

.task-card-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-card-priority {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-spinner-container {
  display: flex;
  justify-content: center;  
}

.error-actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-card-title {
  margin-bottom: 10px;
}
