<mat-card appearance="outlined" class="overview-card">
    @if (selectedProjectCache().error || selectedTaskCache().error) {
        <mat-card-header>
            <mat-card-title class="error-card-title">{{ 'common.title.error' | translate }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p>{{ (selectedTaskCache().error ?? selectedProjectCache().error) | translate }}</p>
        </mat-card-content>

        <mat-card-actions class="error-actions-container">
            <button matButton="elevated" (click)="onTryAgain()">
                <mat-icon fontSet="material-symbols-outlined">repeat</mat-icon>
                {{ 'common.button.reload' | translate }}
            </button>
        </mat-card-actions>
    }
    @else {
        <div class="task-wrapper" [class.loading-blur]="selectedTaskCache().isLoading">
            <div class="header-container">
                <div>
                    <button mat-icon-button [routerLink]="['../../']" [relativeTo]="route">
                        <mat-icon fontSet="material-symbols-outlined">arrow_back</mat-icon>
                    </button>
                    @if (isEditingName()) {
                        <form [formGroup]="nameEditForm" (ngSubmit)="onSubmitTaskName()">
                            <mat-form-field class="inline-form-field">
                                <mat-label>{{ 'task.title.newName' | translate }}</mat-label>
                                <input matInput type="text" formControlName="taskName">
                                <mat-hint align="end">{{ nameEditForm.value.taskName?.length }} / {{ NAME_MAX_LENGTH }}</mat-hint>
                                @if (nameEditForm.hasError('required', 'taskName')) {
                                    <mat-error>{{ 'task.validation.name.required' | translate }}</mat-error>
                                }
                                @if (nameEditForm.hasError('minlength', 'taskName')) {
                                    <mat-error>{{ 'task.validation.name.minLength' | translate:{ minLength: NAME_MIN_LENGTH } }}</mat-error>
                                }
                                @if (nameEditForm.hasError('maxlength', 'taskName')) {
                                    <mat-error>{{ 'task.validation.name.maxLength' | translate:{ maxLength: NAME_MAX_LENGTH } }}</mat-error>
                                }
                            </mat-form-field>
                            <button mat-icon-button type="submit" [disabled]="nameEditForm.invalid">
                                <mat-icon fontSet="material-symbols-outlined">check</mat-icon>
                            </button>
                            <button mat-icon-button type="button" (click)="onCloseEditing()">
                                <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
                            </button>
                        </form>
                    }
                    @else {
                        <mat-card-title>{{ selectedTaskCache().item?.name }}</mat-card-title>                                      
                    }
                </div>
                @if ((isAdmin() || isManager()) && !isEditingName()) {
                    <button mat-icon-button (click)="onTaskNameEdit()">
                        <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
                    </button>
                }         
            </div>

            <mat-divider></mat-divider>

            <mat-card-content class="task-content-container">
                <p>{{ 'task.title.progress' | translate }}</p>
                <mat-progress-bar [value]="selectedTaskCache().item?.progress" mode="determinate"></mat-progress-bar>
                @if (isEditingDescription()) {
                    <form class="description-edit" [formGroup]="descriptionEditForm" (ngSubmit)="onSubmitTaskDescription()">
                        <mat-form-field class="description-input" appearance="outline">
                            <mat-label>{{ 'task.title.newDescription' | translate }}</mat-label>
                            <textarea matInput type="text" formControlName="taskDescription" rows="5"></textarea>
                            <mat-hint align="end">{{ descriptionEditForm.value.taskDescription?.length }} / {{ DESCRIPTION_MAX_LENGTH }}</mat-hint>
                            @if (descriptionEditForm.hasError('maxlength', 'description')) {
                                <mat-error>{{ 'task.validation.description.maxLength' | translate:{ maxLength: DESCRIPTION_MAX_LENGTH } }}</mat-error>
                            }
                        </mat-form-field>
                        <div class="actions">
                            <button mat-icon-button type="submit" [disabled]="descriptionEditForm.invalid">
                                <mat-icon fontSet="material-symbols-outlined">check</mat-icon>
                            </button>
                            <button mat-icon-button type="button" (click)="onCloseEditing()">
                                <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
                            </button>
                        </div>
                    </form>
                }
                @else {
                    <div class="row">
                        @if (selectedTaskCache().item?.description) {
                            <p class="description-field">{{ selectedTaskCache().item?.description ?? "" }}</p>
                        } 
                        @else {
                            <p class="description-none">{{ 'task.title.noDescription' | translate }}</p>
                        }
                        @if (isAdmin() || isManager()) {
                            <button mat-icon-button (click)="onTaskDescriptionEdit()">
                                <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
                            </button>                        
                        }
                    </div>
                }
                @if (isEditingDate()) {
                    <form [formGroup]="dateEditForm" (ngSubmit)="onSubmitTaskDueDate()">
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'task.title.newDueDate' | translate }}</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="taskDueDate">

                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        
                        <button mat-icon-button type="submit" [disabled]="dateEditForm.invalid">
                            <mat-icon fontSet="material-symbols-outlined">check</mat-icon>
                        </button>
                        <button mat-icon-button type="button" (click)="onCloseEditing()">
                            <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
                        </button>
                    </form>
                }
                @else {
                    <div class="row">
                        <p>{{ selectedTaskCache().item?.dueDate ? (selectedTaskCache().item?.dueDate | date:'mediumDate') : ('task.title.noDueDate' | translate) }}</p>
                        <mat-chip [ngClass]="getChipColorLocal(selectedTaskCache().item?.status ?? null)">
                            {{ getChipTextLocal(selectedTaskCache().item?.status ?? null) | translate }}
                        </mat-chip>
                        @if (isAdmin() || isManager()) {
                            <button mat-icon-button (click)="onTaskDueDateEdit()">
                                <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
                            </button>
                        }
                    </div>
                }
                @if (isEditingChips()) {
                    <form [formGroup]="chipsEditForm" (ngSubmit)="onSubmitTaskChips()">
                        <div class="row">
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>{{ 'task.title.priority.newPriority' | translate }}</mat-label>
                                    <mat-select formControlName="taskPriority">
                                        @for (option of priorityOptions; track option) {
                                            <mat-option [value]="option">{{ getChipTextLocal(option) | translate }}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>

                                <mat-chip-listbox multiple formControlName="labels">
                                    @for (label of projectLabels().page?.content; track label.id) {
                                        <mat-chip-option [value]="label.id" class="label-chip" [attr.data-color]="label.color">                                        
                                            {{ label.name }}                                                                          
                                        </mat-chip-option>
                                    }
                                </mat-chip-listbox>
                            </div>
                            <div class="task-chips-actions-container">
                                <button matButton="elevated" type="button" (click)="onAddNewLabel()">
                                    <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
                                    {{ 'label.button.new' | translate }}
                                </button>
                                <button matButton="elevated" type="button" (click)="onOpenLabelManagement()">
                                    <mat-icon fontSet="material-symbols-outlined">edit_attributes</mat-icon>
                                    {{ 'label.title.labelManagement' | translate }}
                                </button>
                                <div>
                                    <button mat-icon-button type="submit" [disabled]="chipsEditForm.invalid">
                                        <mat-icon fontSet="material-symbols-outlined">check</mat-icon>
                                    </button>
                                    <button mat-icon-button type="button" (click)="onCloseEditing()">
                                        <mat-icon fontSet="material-symbols-outlined">close</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>                   
                    </form>
                }
                @else {
                    <div class="row">
                        <mat-chip-set>
                            <mat-chip [ngClass]="getChipColorLocal(selectedTaskCache().item?.priority ?? null)">
                                {{ getChipTextLocal(selectedTaskCache().item?.priority ?? null) | translate }}
                            </mat-chip>
                            @for (label of selectedTaskLabels(); track label.id) {
                                <mat-chip class="label-chip" [attr.data-color]="label.color">
                                    {{ label.name }}
                                </mat-chip>
                            }
                        </mat-chip-set>
                        @if (isAdmin() || isManager()) {
                            <button mat-icon-button (click)="onTaskChipsEdit()">
                                <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
                            </button>
                        }
                    </div>
                }
            </mat-card-content>

            <mat-card-actions class="task-actions-container">
                @if (isAdmin() || isManager()) {
                    <button matButton="outlined" (click)="onTaskDelete()">
                        <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
                        {{ 'common.button.delete' | translate }}
                    </button>
                }
                @if (selectedTaskCache().item?.assigneeId === currentUserCache().item?.id) {
                    @if (selectedTaskCache().item?.status === 'IN_PROGRESS') {
                        <button matButton="outlined" (click)="onStatusChange('NOT_STARTED')">{{ 'task.button.notStarted' | translate }}</button>
                        <button matButton="filled" (click)="onStatusChange('COMPLETED')">{{ 'task.button.completed' | translate }}</button>
                    }
                    @else if (selectedTaskCache().item?.status === 'NOT_STARTED') {
                        <button matButton="filled" (click)="onStatusChange('IN_PROGRESS')">{{ 'common.button.start' | translate }}</button>
                    }
                    @else if (selectedTaskCache().item?.status === 'OVERDUE') {
                        <button matButton="filled" (click)="onStatusChange('COMPLETED')">{{ 'task.button.completed' | translate }}</button>
                    }
                    @else {
                        <button matButton="outlined" (click)="onStatusChange('IN_PROGRESS')">{{ 'task.button.inProgress' | translate }}</button>
                    }                  
                }  
            </mat-card-actions>

            <mat-divider></mat-divider>

            <mat-card-content>
                <app-subtasks-list></app-subtasks-list>
            </mat-card-content>

            <mat-divider></mat-divider>

            <mat-card-content>
                @if (isDropboxConnected() && isContributor()) {
                    @if (selectedProjectCache().item?.isDropboxConnected && currentProjectRole()?.isDropboxConnected) {
                        <app-attachment-list></app-attachment-list>
                    }
                    @else if (!selectedProjectCache().item?.isDropboxConnected) {
                        @if (isCreator()) {
                            <p>{{ 'attachment.title.projectNotConnected.creator' | translate }}</p>
                        }
                        @else {
                            <p>{{ 'attachment.title.projectNotConnected.member' | translate }}</p>
                        }
                    }
                    @else if (!currentProjectRole()?.isDropboxConnected) {
                        <p>{{ 'attachment.title.notJoined' | translate }}</p>
                        <button matButton="elevated" (click)="onJoinDropbox()">
                            <mat-icon fontSet="material-symbols-outlined">join</mat-icon>
                            {{ 'project.button.dropbox.join' | translate }}
                        </button>
                    }
                }
                @else if(!isContributor()) {
                    <p>{{ 'attachment.title.onlyMembers' | translate }}</p>
                }
                @else {
                    <p>{{ 'attachment.title.userNotConnected' | translate }}</p>
                }
            </mat-card-content>

            <mat-divider></mat-divider>

            <mat-card-content>
                <app-message-list></app-message-list>
            </mat-card-content>
        </div>
        @if (selectedTaskCache().isLoading) {
            <div class="loading-overlay">
                <mat-spinner diameter="30"></mat-spinner>
                <span>{{ 'task.title.loading.single' | translate }}</span>
            </div>
        }
    }
    
</mat-card>
