<h2 mat-dialog-title>New Project</h2>

<div mat-dialog-content>
    <form class="project-form" [formGroup]="projectForm">
        <mat-form-field class="form-field">
            <mat-label>Project name</mat-label>
            <input matInput formControlName="name">
            <mat-hint align="end">{{ projectForm.value.name?.length }} / 50</mat-hint>
            @if (projectForm.hasError('required', 'name')) {
                <mat-error>This field is required.</mat-error>
            }
            @if (projectForm.hasError('minlength', 'name')) {
                <mat-error>Project name must be at least 3 characters long.</mat-error>
            }
            @if (projectForm.hasError('maxlength', 'name')) {
                <mat-error>Project name cannot be longer than 50 characters.</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-hint align="end">{{ projectForm.value.description?.length }} / 500</mat-hint>
            @if (projectForm.hasError('maxlength', 'description')) {
                <mat-error>Project description cannot be longer than 50 characters.</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Project dates</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate mat-input formControlName="startDate">
                <input matEndDate mat-input formControlName="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        
        <mat-checkbox formControlName="isPrivate">Private project</mat-checkbox>

        @if (isSendingRequest()) {
            <mat-spinner>Please wait...</mat-spinner>
        }
        @else {
            <mat-error>{{ error() }}</mat-error>
        }
    </form>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="close()" [disabled]="isSendingRequest()">Cancel</button>
    <button mat-flat-button (click)="submit()" [disabled]="projectForm.invalid || isSendingRequest()">Create project</button>
</div>
