.form-field {
    width: 100%;
}

.form-field textarea[matInput] {
    height: 140px;
    resize: none;
    overflow: auto;
}

.project-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}