.main-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-top: 120px;
    height: 100vh;
}

.overview-card {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.card-title {
    margin-bottom: 10px;
}

.description-input {
    width: 100%;
}

.description-input textarea[matInput] {
    height: 140px;
    resize: none;
    overflow: auto;
}

.description-edit {
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    gap: 10px;
}

.project-actions-container {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}

.project-buttons-container {
    display: flex;
    gap: 12px;
}

.project-dates-container {
    display: flex;
    justify-content: space-between;
}

.edit-input-form {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-top: 10px;
}

mat-accordion {
    padding-left: 10px;
    padding-right: 10px;
}

mat-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.error-actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
