<h2 mat-dialog-title>{{ 'task.title.newTask' | translate }}</h2>

<div mat-dialog-content>
    <form class="task-form" [formGroup]="taskForm">
        <mat-form-field class="form-field">
            <mat-label>{{ 'task.title.name' | translate }}</mat-label>
            <input matInput formControlName="name">
            <mat-hint align="end">{{ taskForm.value.name?.length }} / {{ NAME_MAX_LENGTH }}</mat-hint>
            @if (taskForm.hasError('required', 'name')) {
                <mat-error>{{ 'task.validation.name.required' | translate }}</mat-error>
            }
            @if (taskForm.hasError('minlength', 'name')) {
                <mat-error>{{ 'task.validation.name.minLength' | translate:{ minLength: NAME_MIN_LENGTH } }}</mat-error>
            }
            @if (taskForm.hasError('maxlength', 'name')) {
                <mat-error>{{ 'task.validation.name.maxLength' | translate:{ maxLength: NAME_MAX_LENGTH } }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>{{ 'task.title.description' | translate }}</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-hint align="end">{{ taskForm.value.description?.length }} / {{ DESCRIPTION_MAX_LENGTH }}</mat-hint>
            @if (taskForm.hasError('maxlength', 'description')) {
                <mat-error>{{ 'task.validation.description.maxLength' | translate:{ maxLength: DESCRIPTION_MAX_LENGTH } }}</mat-error>
            }
        </mat-form-field>
        <div class="row-container">
            <mat-form-field class="form-field">
                <mat-label>{{ 'task.title.priority.priority' | translate }}</mat-label>
                <mat-select formControlName="priority" >
                    @for (option of priorityOptions; track option) {
                        <mat-option [value]="option">{{ getChipTextLocal(option) | translate }}</mat-option>
                    }
                </mat-select>
                @if (taskForm.hasError('required', 'priority')) {
                    <mat-error>{{ 'task.validation.priority.required' | translate }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>{{ 'task.title.assignee' | translate }}</mat-label>
                <mat-select formControlName="assignee" >
                    @for (user of data.projectMembers; track user.id) {
                        <mat-option [value]="user">{{ user.username }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row-container">
            <mat-form-field class="form-field">
                <mat-label>{{ 'task.title.dueDate' | translate }}</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dueDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button matButton="elevated" type="button" (click)="onAddNewLabel()">
                <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
                {{ 'label.button.new' | translate }}
            </button>
        </div>
        <mat-chip-listbox multiple formControlName="labels">
            @for (label of labelStore.cache().page?.content; track label.id) {
                <mat-chip-option [value]="label.id" class="label-chip" [attr.data-color]="label.color">                                        
                    {{ label.name }}                                                                          
                </mat-chip-option>
            }
        </mat-chip-listbox>
        @if (error()) {
            <mat-error>{{ error() | translate }}</mat-error>
        }
    </form>
    @if (isSendingRequest()) {
        <div class="spinner-container">
            <mat-spinner diameter="30"></mat-spinner>
            <span>{{ 'task.title.loading.create' | translate }}</span>
        </div>
    }
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="close()" [disabled]="isSendingRequest()">{{ 'common.button.close' | translate }}</button>
    <button mat-flat-button (click)="submit()" [disabled]="taskForm.invalid || isSendingRequest()">{{ 'task.button.new' | translate }}</button>
</div>
