<h2 mat-dialog-title>New Task</h2>

<div mat-dialog-content>
    <form class="task-form" [formGroup]="taskForm">
        <mat-form-field class="form-field">
            <mat-label>Task name</mat-label>
            <input matInput formControlName="name">
            <mat-hint align="end">{{ taskForm.value.name?.length }} / {{ NAME_MAX_LENGTH }}</mat-hint>
            @if (taskForm.hasError('required', 'name')) {
                <mat-error>This field is required.</mat-error>
            }
            @if (taskForm.hasError('minlength', 'name')) {
                <mat-error>Task name must be at least {{ NAME_MIN_LENGTH }} characters long.</mat-error>
            }
            @if (taskForm.hasError('maxlength', 'name')) {
                <mat-error>Task name cannot be longer than {{ NAME_MAX_LENGTH }} characters.</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-hint align="end">{{ taskForm.value.description?.length }} / {{ DESCRIPTION_MAX_LENGTH }}</mat-hint>
            @if (taskForm.hasError('maxlength', 'description')) {
                <mat-error>Task description cannot be longer than {{ DESCRIPTION_MAX_LENGTH }} characters.</mat-error>
            }
        </mat-form-field>
        <div class="row-container">
            <mat-form-field class="form-field">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority" >
                    @for (option of priorityOptions; track option) {
                        <mat-option [value]="option.priority">{{ option.priorityView }}</mat-option>
                    }
                </mat-select>
                @if (taskForm.hasError('required', 'priority')) {
                    <mat-error>This field is required.</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="form-field">
                <mat-label>Assigned user</mat-label>
                <mat-select formControlName="assignee" >
                    @for (user of data.projectMembers; track user.id) {
                        <mat-option [value]="user">{{ user.username }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row-container">
            <mat-form-field class="form-field">
                <mat-label>Due date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dueDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button matButton="elevated" type="button" (click)="onAddNewLabel()">
                <mat-icon fontSet="material-symbols-outlined">add</mat-icon>
                Add a new label
            </button>
        </div>
        <mat-chip-listbox multiple formControlName="labels">
            @for (label of labelStore.cache().page?.content; track label.id) {
                <mat-chip-option [value]="label.id" class="label-chip" [attr.data-color]="label.color">                                        
                    {{ label.name }}                                                                          
                </mat-chip-option>
            }
        </mat-chip-listbox>
        @if (error()) {
            <mat-error>{{ error() }}</mat-error>
        }
    </form>
    @if (isSendingRequest()) {
        <div class="spinner-container">
            <mat-spinner diameter="30"></mat-spinner>
            <span>Loading...</span>
        </div>
    }
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="close()" [disabled]="isSendingRequest()">Cancel</button>
    <button mat-flat-button (click)="submit()" [disabled]="taskForm.invalid || isSendingRequest()">Create task</button>
</div>
