.title-field {
    width: 100%;
}

.subtask-container {
    position: relative;
    min-height: 50px;
    margin: 10px 0px 10px 0px;
    padding: 0px 12px 0px 12px;

    border-style: solid;
    border-width: var(--mat-card-outlined-outline-width, 1px);
    border-color: var(--mat-card-outlined-outline-color, var(--mat-sys-outline-variant));
    border-radius: var(--mat-card-outlined-container-shape, var(--mat-sys-corner-medium));
}

.subtask-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.subtask-title {
    font-size: 16px;
}
