<div class="main-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'common.title.forbidden.title' | translate }}</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>
            <p>{{ 'common.title.forbidden.message' | translate }}</p>
        </mat-card-content>
    
        <mat-card-actions>
            <button matButton="filled" [routerLink]="['/dashboard']">{{ 'header.button.dashboard' | translate }}</button>
        </mat-card-actions>
    </mat-card>
</div>
