<div class="main-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title class="card-title">{{ 'message.title.messages' | translate:{ numberOfMessages: taskCache().item?.amountOfMessages ?? 0 } }}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <form [formGroup]="newCommentForm">
                <mat-form-field class="large-field">
                    <textarea matInput type="text" formControlName="comment" [placeholder]="'message.title.placeholder.comment' | translate"></textarea>
                    <mat-hint align="end">{{ newCommentForm.value.comment?.length }} / {{ MAX_LENGTH }}</mat-hint>
                    @if (newCommentForm.hasError('maxlength', 'comment')) {
                        <mat-error>{{ 'message.validation.comment.maxLength' | translate:{ maxLength: MAX_LENGTH } }}</mat-error>
                    }
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="new-comment-actions-container">
            <button matButton="elevated" type="button" (click)="onNewCommentSubmit()" [disabled]="newCommentForm.invalid || commentCache().isLoading">{{ 'message.button.send' | translate }}</button>
        </mat-card-actions>
    </mat-card>
    
    @if (commentCache().isLoading) {
        <div class="spinner-container">
            <mat-spinner diameter="30"></mat-spinner>
            <span>{{ 'message.title.loading.comment' | translate }}</span>
        </div>
    }
    @else if (commentCache().error) {
        <div class="simple-error-message">{{ commentCache().error | translate }}</div>
    }
    @else {
        <mat-list>
            @for (comment of commentCache().page?.content; track comment.id) {
                <mat-card>
                    <mat-card-header>
                        <mat-card-title class="card-title">{{ comment.username }}</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    @if (isEditing(comment.id)) {
                        <mat-card-content>
                            <form [formGroup]="editMessageForm">
                                <mat-form-field class="large-field">
                                    <textarea matInput type="text" formControlName="message" [placeholder]="'message.title.placeholder.comment' | translate"></textarea>
                                    <mat-hint align="end">{{ editMessageForm.value.message?.length }} / {{ MAX_LENGTH }}</mat-hint>
                                    @if (newCommentForm.hasError('maxlength', 'message')) {
                                        <mat-error>{{ 'message.validation.comment.maxLength' | translate:{ maxLength: MAX_LENGTH } }}</mat-error>
                                    }
                                </mat-form-field>
                            </form>
                        </mat-card-content>

                        <mat-card-actions class="message-actions-container">
                            <button matButton="elevated" type="button" (click)="onEditMessageSubmit(comment, null)" [disabled]="editMessageForm.invalid">{{ 'common.button.edit' | translate }}</button>
                            <button matButton="elevated" type="button" (click)="onEditMessageCancel()">{{ 'common.button.cancel' | translate }}</button>
                        </mat-card-actions>
                    }
                    @else {
                        <mat-card-content>
                            <p>{{ comment.text }}</p>
                        </mat-card-content>

                        <mat-card-actions class="message-actions-container">
                            @if (userCache().item?.id === comment.userId || isManager()) {
                                <button matButton="elevated" (click)="onEditMessage(comment)">
                                    <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
                                    {{ 'common.button.edit' | translate }}
                                </button>
                                <button matButton="outlined" (click)="onDeleteMessage(comment)">
                                    <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
                                    {{ 'common.button.delete' | translate }}
                                </button>
                            }
                            @if (comment.amountOfReplies > 0 && !isCommentExpanded(comment.id)) {
                                <button matButton="elevated" (click)="onOpenCommentReplies(comment)">
                                    <mat-icon fontSet="material-symbols-outlined">keyboard_arrow_down</mat-icon>
                                    {{ 'message.button.showReplies' | translate:{ numberOfReplies: comment.amountOfReplies } }}
                                </button>
                            } 
                            @else if ((userCache().item?.id !== comment.userId || isManager()) && !isReplying(comment.id)) {
                                <button matButton="elevated" type="button" (click)="onReply(comment)">
                                    <mat-icon fontSet="material-symbols-outlined">reply</mat-icon>
                                    {{ 'message.button.reply' | translate }}
                                </button>
                            }
                        </mat-card-actions>
                        <mat-divider></mat-divider>
                        @if (isReplying(comment.id)) {                               
                            <div class="new-reply">
                                <form [formGroup]="newReplyForm">
                                    <mat-form-field class="large-field">
                                        <textarea matInput type="text" formControlName="reply" [placeholder]="'message.title.placeholder.reply' | translate"></textarea>
                                        <mat-hint align="end">{{ newReplyForm.value.reply?.length }} / {{ MAX_LENGTH }}</mat-hint>
                                        @if (newCommentForm.hasError('maxlength', 'reply')) {
                                            <mat-error>{{ 'message.validation.reply.maxLength' | translate:{ maxLength: MAX_LENGTH } }}</mat-error>
                                        }
                                    </mat-form-field>
                                </form>
                                <div class="message-actions-container">
                                    <button matButton="elevated" type="button" [disabled]="newReplyForm.invalid" (click)="onNewReplySubmit(comment, null)">{{ 'message.button.send' | translate }}</button>
                                    <button matButton="outlined" type="button" (click)="disableReplying()">{{ 'common.button.cancel' | translate }}</button>
                                </div>
                            </div>
                        }

                        @if (isCommentExpanded(comment.id)) {
                            @if (isLoadingRepliesForComment(comment.id)) {
                                <mat-spinner></mat-spinner>
                                <span>{{ 'message.title.loading.reply' | translate }}</span>
                            }
                            @else {
                                <div class="replies-container">                                      
                                    @for (flattenedReply of getRepliesForComment(comment.id); track flattenedReply.id) {        
                                        <div class="reply-row-container">
                                            <div class="reply-gutter" [style.--depth]="clampDepth(flattenedReply.depth)"></div>
                                            <div class="reply">
                                                <div class="reply-header">{{ flattenedReply.username }}</div>
                                                @if (isEditing(flattenedReply.id)) {
                                                    <form [formGroup]="editMessageForm" (ngSubmit)="onEditMessageSubmit(flattenedReply, comment)">
                                                        <mat-form-field class="large-field">
                                                            <textarea matInput type="text" formControlName="message" [placeholder]="'message.title.placeholder.reply' | translate"></textarea>
                                                            <mat-hint align="end">{{ editMessageForm.value.message?.length }} / {{ MAX_LENGTH }}</mat-hint>
                                                            @if (newCommentForm.hasError('maxlength', 'message')) {
                                                                <mat-error>{{ 'message.validation.reply.maxLength' | translate:{ maxLength: MAX_LENGTH } }}</mat-error>
                                                            }
                                                        </mat-form-field>
                                                        <div class="message-actions-container">
                                                            <button matButton="elevated" type="submit" [disabled]="editMessageForm.invalid">{{ 'common.button.edit' | translate }}</button>
                                                            <button matButton="elevated" type="button" (click)="onEditMessageCancel()">{{ 'common.button.cancel' | translate }}</button>
                                                        </div>
                                                    </form>
                                                }
                                                @else {
                                                    <div class="reply-body">{{ flattenedReply.text }}</div>
                                                }
                                                @if (isReplying(flattenedReply.id)) {
                                                    <div class="new-reply">
                                                        <form [formGroup]="newReplyForm">
                                                            <mat-form-field class="large-field">
                                                                <textarea matInput type="text" formControlName="reply" [placeholder]="'message.title.placeholder.reply' | translate"></textarea>
                                                                <mat-hint align="end">{{ newReplyForm.value.reply?.length }} / {{ MAX_LENGTH }}</mat-hint>
                                                                @if (newCommentForm.hasError('maxlength', 'reply')) {
                                                                    <mat-error>{{ 'message.validation.reply.maxLength' | translate:{ maxLength: MAX_LENGTH } }}</mat-error>
                                                                }
                                                            </mat-form-field>
                                                        </form>
                                                        <div class="message-actions-container">
                                                            <button matButton="elevated" type="button" [disabled]="newReplyForm.invalid" (click)="onNewReplySubmit(flattenedReply, comment)">{{ 'message.button.send' | translate }}</button>
                                                            <button matButton="outlined" type="button" (click)="disableReplying()">{{ 'common.button.cancel' | translate }}</button>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="message-actions-container">
                                                    @if (!isEditing(flattenedReply.id)) {
                                                        @if (userCache().item?.id === flattenedReply.userId || isManager()) {
                                                            <button matButton="elevated" (click)="onEditMessage(flattenedReply)">
                                                                <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
                                                                {{ 'common.button.edit' | translate }}
                                                            </button>
                                                            <button matButton="elevated" (click)="onDeleteMessage(flattenedReply)">
                                                                <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
                                                                {{ 'common.button.delete' | translate }}
                                                            </button>
                                                            @if (isManager()) {
                                                                <button matButton="elevated" (click)="onReply(flattenedReply)">
                                                                    <mat-icon fontSet="material-symbols-outlined">reply</mat-icon>
                                                                    {{ 'message.button.reply' | translate }}
                                                                </button>       
                                                            }
                                                        }     
                                                        @else if (!isReplying(flattenedReply.id)) {                                                            
                                                            <button matButton="elevated" (click)="onReply(flattenedReply)">
                                                                <mat-icon fontSet="material-symbols-outlined">reply</mat-icon>
                                                                {{ 'message.button.reply' | translate }}
                                                            </button>                                                                                                                                                                                                           
                                                        }                                                                                                      
                                                    }
                                                </div>
                                            </div>
                                        </div>                                   
                                    }
                                </div>
                            }
                            <mat-card-actions class="message-actions-container">
                                @if (isLastRepliesPage(comment.id)) {
                                    <button matButton="outlined" (click)="onHideReplies(comment.id)">
                                        {{ 'message.button.hideReplies' | translate }}
                                        <mat-icon fontSet="material-symbols-outlined">keyboard_arrow_up</mat-icon>
                                    </button>
                                }
                                @else {
                                    <button matButton="elevated" (click)="onMoreReplies(comment.id)">
                                        <mat-icon fontSet="material-symbols-outlined">keyboard_arrow_down</mat-icon>
                                        {{ 'message.button.showMoreReplies' | translate }}
                                    </button>
                                }
                            </mat-card-actions>
                        }
                    }                       
                </mat-card>
            }
        </mat-list>
    }
    <div class="message-actions-container">
        @if (commentCache().page?.last) {
            @if (commentCache().pageIndex !== 0) {
                <button matButton="outlined" (click)="onHideComments()">
                    {{ 'message.button.hideComments' | translate }}
                    <mat-icon fontSet="material-symbols-outlined">keyboard_arrow_up</mat-icon>
                </button>
            }
        }
        @else {
            <button matButton="elevated" (click)="onMoreComments()">
                <mat-icon fontSet="material-symbols-outlined">keyboard_arrow_down</mat-icon>
                {{ 'message.button.showMoreComments' | translate }}
            </button>
        }
    </div>
</div>
