<h2 mat-dialog-title [innerHTML]="(data.title?.key ?? 'common.confirm.title') | translate:data.title?.params"></h2>

<div mat-dialog-content>
    <p [innerHTML]="data.message.key | translate:data.message.params"></p>
</div>

<div mat-dialog-actions align="end">
    <button matButton="outlined" (click)="close(false)">
        {{ (data.cancelButton ?? 'common.title.no') | translate }}
    </button>
    <button matButton="filled" (click)="close(true)">
        {{ (data.submitButton ?? 'common.title.yes') | translate }}
    </button>
</div>
