<div class="main-container">
    <mat-card class="auth-card">
        @if (isRegistering()) {
            <mat-card-header>
                <mat-card-title class="auth-card-title">{{ 'auth.title.signup' | translate }}</mat-card-title>
            </mat-card-header>
            
            <form class="auth-form" [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()">
                <mat-form-field class="auth-field">
                    <mat-label>{{ 'auth.title.username' | translate }}</mat-label>
                    <input matInput type="text" formControlName="username">
                    <mat-hint align="end">{{ registrationForm.value.username?.length }} / {{ USERNAME_MAX_LENGTH }}</mat-hint>
                    @if (registrationForm.hasError('required', 'username')) {
                        <mat-error>{{ 'auth.validation.username.required' | translate }}</mat-error>
                    }
                    @if (registrationForm.hasError('minlength', 'username')) {
                        <mat-error>{{ 'auth.validation.username.minLength' | translate:{ minLength: USERNAME_MIN_LENGTH } }}</mat-error>
                    }
                    @if (registrationForm.hasError('maxlength', 'username')) {
                        <mat-error>{{ 'auth.validation.username.maxLength' | translate:{ maxLength: USERNAME_MAX_LENGTH } }}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="auth-field">
                    <mat-label>{{ 'auth.title.password' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-hint align="end">{{ registrationForm.value.password?.length }} / {{ PASSWORD_MAX_LENGTH }}</mat-hint>
                    @if (registrationForm.hasError('required', 'password')) {
                        <mat-error>{{ 'auth.validation.password.required' | translate }}</mat-error>
                    }
                    @if (registrationForm.hasError('minlength', 'password')) {
                        <mat-error>{{ 'auth.validation.password.minLength' | translate:{ minLength: PASSWORD_MIN_LENGTH } }}</mat-error>
                    }
                    @if (registrationForm.hasError('maxlength', 'password')) {
                        <mat-error>{{ 'auth.validation.password.maxLength' | translate:{ maxLength: PASSWORD_MAX_LENGTH } }}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="auth-field">
                    <mat-label>{{ 'auth.title.repeatPassword' | translate }}</mat-label>
                    <input matInput type="password" formControlName="repeatPassword">
                    <mat-hint align="end">{{ registrationForm.value.repeatPassword?.length }} / {{ PASSWORD_MAX_LENGTH }}</mat-hint>
                    @if (registrationForm.hasError('required', 'password')) {
                        <mat-error>{{ 'auth.validation.repeatPassword.required' | translate }}</mat-error>
                    }
                    @if (registrationForm.controls.repeatPassword.dirty && registrationForm.hasError('passwordMismatch', 'repeatPassword')) {
                        <mat-error>{{ 'auth.validation.repeatPassword.mismatch' | translate }}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="auth-field">
                    <mat-label>{{ 'auth.title.email' | translate }}</mat-label>
                    <input matInput type="email" formControlName="email">
                    @if (registrationForm.hasError('required', 'email')) {
                        <mat-error>{{ 'auth.validation.email.required' | translate }}</mat-error>
                    }
                    @if (registrationForm.hasError('email', 'email')) {
                        <mat-error>{{ 'auth.validation.email.email' | translate }}</mat-error>
                    }
                </mat-form-field>
                <button matButton="filled" class="submit-button" type="submit" [disabled]="registrationForm.invalid || isLoading()">{{ 'auth.title.signup' | translate }}</button>
            </form>
            <mat-divider/>
            <div class="mini-label">{{ 'auth.title.alreadyRegistered' | translate }}</div>
            <button matButton class="toggle-registration-button" (click)="toggleRegistration()">Sign in</button>
        }
        @else {
            <mat-card-header>
                <mat-card-title class="auth-card-title">{{ 'auth.title.signin' | translate }}</mat-card-title>
            </mat-card-header>
            <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                <mat-form-field class="auth-field">
                    <mat-label>{{ 'auth.title.username' | translate }}</mat-label>
                    <input matInput type="text" formControlName="username">
                    @if (loginForm.hasError('required', 'username')) {
                        <mat-error>{{ 'auth.validation.username.required' | translate }}</mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="auth-field">
                    <mat-label>{{ 'auth.title.password' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password">
                    @if (loginForm.hasError('required', 'password')) {
                        <mat-error>{{ 'auth.validation.password.required' | translate }}</mat-error>
                    }
                </mat-form-field>
                <button matButton="filled" class="submit-button" type="submit" [disabled]="loginForm.invalid || isLoading()">{{ 'auth.title.signin' | translate }}</button>
            </form>
            <mat-divider/>
            <div class="mini-label">{{ 'auth.title.notRegistered' | translate }}</div>
            <button matButton class="toggle-registration-button" (click)="toggleRegistration()">{{ 'auth.title.signup' | translate }}</button>
        }
        @if (error()) {
            <mat-error>{{ error() | translate }}</mat-error>
        }
        @if (isLoading()) {
            <div class="spinner-container">
                <mat-spinner diameter="30"></mat-spinner>
                <span>{{ 'auth.title.loading' | translate }}</span>
            </div>
        }
    </mat-card>
</div>
