main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding: 10px;
    margin: auto;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.auth-field {
    margin-top: 15px;
    width: 250px;
}

.submit-button {
    width: fit-content;
    margin: 10px;
}

.toggle-registration-button {
    width: fit-content;
}

.mini-label {
    font-size: small;
    text-align: center;
    margin-top: 10px;
}

.auth-card-title {
    font-size: 40px;
    margin: 10px 0 30px 0;
}

.password-fields {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.error-label {
    color: red;
    margin-top: 10px;
}
