<div class="main-container">
    <div class="left-side-container">
        <p>Logo here</p>
        <div class="left-side-actions-container">
            @if (isLoggedIn() && !isOnDashboard()) {
                <button matButton="outlined" (click)="onToDashboard()">To dashboard</button>
            }
        </div>
    </div>
    <div class="right-side-container">
        @if (isLoggedIn()) {
            @if (isCheckingDropbox()) {
                <div class="spinner-container">
                    <mat-spinner diameter="30"></mat-spinner>
                    <span>Checking Dropbox status...</span>
                </div>
            }
            @else {
                @if (isDropboxConnected()) {
                    <button matButton="elevated" (click)="onLogoutDropbox()">
                        <mat-icon svgIcon="dropbox"></mat-icon>
                        Logout
                    </button>
                }
                @else {
                    <button matButton="elevated" (click)="onConnectDropbox()">
                        <mat-icon svgIcon="dropbox"></mat-icon>
                        Connect Dropbox
                    </button>
                }
            }
            @if (isCheckingGoogleCalendar()) {
                <div class="spinner-container">
                    <mat-spinner diameter="30"></mat-spinner>
                    <span>Checking Calendar status...</span>
                </div>
            }
            @else {
                @if (isGoogleCalendarConnected()) {
                    <button matButton="elevated" (click)="onLogoutCalendar()">
                        <mat-icon svgIcon="google-calendar"></mat-icon>
                        Logout
                    </button>
                }
                @else {
                    <button matButton="elevated" (click)="onConnectCalendar()">
                        <mat-icon svgIcon="google-calendar"></mat-icon>
                        Connect Calendar
                    </button>
                }
            }
            <button matButton="elevated" (click)="onLogout()">
                <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>
                Logout
            </button>
        }
    </div>
</div>
