<div class="main-container">
    <div class="left-side-container">
        <p>Logo here</p>
        <div class="left-side-actions-container">
            @if (isLoggedIn() && !isOnDashboard()) {
                <button matButton="outlined" (click)="onToDashboard()">{{ 'header.button.dashboard' | translate }}</button>
            }
            @if (isManager() && !isOnControlPanel()) {
                <button matButton="filled" (click)="onManagerActions()">{{ 'header.button.managerPanel' | translate }}</button>
            }
        </div>
    </div>
    <div class="right-side-container">
        @if (langOptions.length > 1) {
            <form [formGroup]="langSelectForm">
                <mat-form-field>
                    <mat-label>{{ 'header.title.lang' | translate }}</mat-label>
                    <mat-select formControlName="lang">
                        @for (lang of langOptions; track lang.key) {
                            <mat-option [value]="lang.key">{{ lang.view }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </form>
        }
        @if (isLoggedIn()) {
            @if (isCheckingDropbox()) {
                <div class="spinner-container">
                    <mat-spinner diameter="30"></mat-spinner>
                    <span>{{ 'dropbox.title.loading.healthCheck' | translate }}</span>
                </div>
            }
            @else {
                @if (isDropboxConnected()) {
                    <button matButton="elevated" (click)="onLogoutDropbox()">
                        <mat-icon svgIcon="dropbox"></mat-icon>
                        {{ 'common.button.logout' | translate }}
                    </button>
                }
                @else {
                    <button matButton="elevated" (click)="onConnectDropbox()">
                        <mat-icon svgIcon="dropbox"></mat-icon>
                        {{ 'dropbox.button.connect' | translate }}
                    </button>
                }
            }
            @if (isCheckingGoogleCalendar()) {
                <div class="spinner-container">
                    <mat-spinner diameter="30"></mat-spinner>
                    <span>{{ 'calendar.title.loading.healthCheck' | translate }}</span>
                </div>
            }
            @else {
                @if (isGoogleCalendarConnected()) {
                    <button matButton="elevated" (click)="onLogoutCalendar()">
                        <mat-icon svgIcon="google-calendar"></mat-icon>
                        {{ 'common.button.logout' | translate }}
                    </button>
                }
                @else {
                    <button matButton="elevated" (click)="onConnectCalendar()">
                        <mat-icon svgIcon="google-calendar"></mat-icon>
                        {{ 'calendar.button.connect' | translate }}
                    </button>
                }
            }
            <button matButton="filled" [matMenuTriggerFor]="menu">{{ userCache().item?.username }}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onChangeUserDetails()">
                    <mat-icon fontSet="material-symbols-outlined">edit</mat-icon>
                    {{ 'user.button.edit' | translate }}
                </button>
                <button mat-menu-item (click)="onLogout()">
                    <mat-icon fontSet="material-symbols-outlined">logout</mat-icon>
                    {{ 'common.button.logout' | translate }}
                </button>
                @if (!isOwner()) {
                    <button mat-menu-item (click)="onDeleteAccount()">
                        <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
                        {{ 'user.button.delete' | translate }}
                    </button>
                }
            </mat-menu>
        }
    </div>
</div>
