<h2 mat-dialog-title>{{ 'user.title.update' | translate }}</h2>

@if (userCache().isLoading) {
    <div class="spinner-container">
        <mat-spinner diameter="30"></mat-spinner>
        <span>{{ 'user.title.loading.single' | translate }}</span>
    </div>
}
@else {
    <div mat-dialog-content>
        <form class="user-details-form" [formGroup]="userDetailsForm">
            <mat-form-field>
                <mat-label>{{ 'auth.title.username' | translate }}</mat-label>
                <input matInput formControlName="username">
                <mat-hint align="end">{{ userDetailsForm.value.username?.length }} / {{ USERNAME_MAX_LENGTH }}</mat-hint>
                @if (userDetailsForm.hasError('minlength', 'username')) {
                    <mat-error>{{ 'auth.validation.username.minLength' | translate:{ minLength: USERNAME_MIN_LENGTH } }}</mat-error>
                }
                @if (userDetailsForm.hasError('maxlength', 'username')) {
                    <mat-error>{{ 'auth.validation.username.maxLength' | translate:{ maxLength: USERNAME_MAX_LENGTH } }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'auth.title.email' | translate }}</mat-label>
                <input matInput formControlName="email">
                @if (userDetailsForm.hasError('email', 'email')) {
                    <mat-error>{{ 'auth.validation.email.email' | translate }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'auth.title.password' | translate }}</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-hint align="end">{{ userDetailsForm.value.password?.length }} / {{ PASSWORD_MAX_LENGTH }}</mat-hint>
                @if (userDetailsForm.hasError('minlength', 'password')) {
                    <mat-error>{{ 'auth.validation.password.minLength' | translate:{ minLength: PASSWORD_MIN_LENGTH } }}</mat-error>
                }
                @else if (userDetailsForm.hasError('maxlength', 'password')) {
                    <mat-error>{{ 'auth.validation.password.maxLength' | translate:{ maxLength: PASSWORD_MAX_LENGTH } }}</mat-error>
                }
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'auth.title.repeatPassword' | translate }}</mat-label>
                <input matInput type="password" formControlName="repeatPassword">
                @if (userDetailsForm.hasError('passwordMismatch', 'repeatPassword')) {
                    <mat-error>{{ 'auth.validation.repeatPassword.mismatch' | translate }}</mat-error>                  
                }         
            </mat-form-field>
            <mat-hint>{{ 'user.title.updateHint' | translate }}</mat-hint>
            @if (userDetailsForm.hasError('atLeastOneRequired')) {
                <mat-error>{{ 'auth.validation.atLeastOneRequired' | translate }}</mat-error>
            }
        </form>
    </div>
    
    <div mat-dialog-actions>
        <button matButton="outlined" (click)="onClose()" [disabled]="userCache().isLoading">{{ 'common.button.close' | translate }}</button>
        <button matButton="filled" (click)="onSubmit()" [disabled]="userCache().isLoading || userDetailsForm.invalid">{{ 'common.button.confirm' | translate }}</button>
    </div>
}
