@if (isLoading()) {
    <div class="spinner-container">
        <mat-spinner diameter="30"></mat-spinner>
        <span>{{ 'user.title.loading.single' | translate }}</span>
    </div>
}
@else {
    <h2 mat-dialog-title>{{ loadedUser()?.username }}</h2>
    
    <div mat-dialog-content>
        <p>{{ loadedUser()?.email }}</p>
        <p>{{ getUserRoleLocal() }}</p>
        @if (loadedUser()?.isLocked) {     
            <p>{{ 'user.title.bannedInfo' | translate }}</p>
        }
    </div>
    
    <div mat-dialog-actions>
        <button matButton="elevated" (click)="onChangeLock()">{{ (loadedUser()?.isLocked ? 'user.button.locked.lift' : 'user.button.locked.ban') | translate }}</button>
        
        @if (isOwner()) {
            @if (loadedUser()?.roles?.includes('MANAGER')) {
                <button matButton="elevated" (click)="onSetRole('USER')">{{ 'user.button.demote' | translate }}</button>
                
            }
            @else if (loadedUser()?.roles?.includes('USER')) {
                <button matButton="elevated" (click)="onSetRole('MANAGER')">{{ 'user.button.promote' | translate }}</button>
            }
        }
        <button matButton="outlined" (click)="onClose()">{{ 'common.button.close' | translate }}</button>
    </div>
}
