<div class="main-container">
    <div class="create-container">
        <button matButton="filled" (click)="fileInput.click()">
            <mat-icon fontSet="material-symbols-outlined">attachment</mat-icon>
            {{ 'attachment.button.new' | translate }}
        </button>

        <input #fileInput type="file" hidden (change)="onFileSelected($event)"/>
        @if (isProgressBarActive()) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
    </div>
    <div class="main-content">
        @if (attachmentsCache().error) {
            <div class="frame" [class.loading-blur]="attachmentsCache().isLoading">
                <div class="simple-error-message">{{ attachmentsCache().error | translate }}</div>
            </div>
        } 
        @else if ((attachmentsCache().page?.content?.length ?? 0) < 1) {
            <div class="frame" [class.loading-blur]="attachmentsCache().isLoading">
                <p class="larger-text">{{ 'attachment.title.none' | translate }}</p>
            </div>
        }
        @else {
            <div class="attachments-grid" [class.loading-blur]="attachmentsCache().isLoading">
                @for (attachment of attachmentsCache().page?.content; track attachment.id) {
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                {{ attachment.filename }}
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            {{ attachment.uploadDate | date:'medium' }}
                        </mat-card-content>
                        <mat-card-actions class="attachment-actions-container">
                            <button matButton="elevated" (click)="onDownloadFile(attachment)">
                                <mat-icon fontSet="material-symbols-outlined">download</mat-icon>
                                {{ 'attachment.button.download' | translate }}
                            </button>
                            <button matButton="outlined" (click)="onDeleteAttachment(attachment)">
                                <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
                                {{ 'common.button.delete' | translate }}
                            </button>
                        </mat-card-actions>
                    </mat-card>
                }
            </div>
        }
        @if (attachmentsCache().isLoading) {
            <div class="spinner-container">
                <mat-spinner diameter="30"></mat-spinner>
                <span>{{ 'attachment.title.loading' | translate }}</span>
            </div>
        } 
    </div>
</div>
