.main-container {
    display: flex;
    flex-direction: column;
}

.attachments-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    margin-top: 10px;
}

.attachment-actions-container {
    display: flex;
    gap: 12px;
}

mat-progress-bar {
    margin: 10px 0 10px 0;
}