<mat-card>
    @if (isLoadingAttachments()) {
        <mat-spinner diameter="30"></mat-spinner>
        <span>Loading attachmets...</span>
    } 
    @else {
        <mat-card-actions>
            <button matButton="elevated" (click)="fileInput.click()">
                <mat-icon fontSet="material-symbols-outlined">upload</mat-icon>
                New attachment</button>
        </mat-card-actions>
    
        <mat-card-content>
            <input #fileInput type="file" hidden (change)="onFileSelected($event)"/>
            @if (uploadProgress()) {
                <mat-progress-bar [mode]="progressBarMode()" [value]="uploadProgress()"></mat-progress-bar>
            }
    
            <div class="attachments-grid">
                @for (attachment of attachments(); track attachment.id) {
                    <mat-card>
                        <mat-card-title>
                            {{ attachment.filename }}
                        </mat-card-title>
                        <mat-card-content>
                            {{ attachment.uploadDate }}
                        </mat-card-content>
                        <mat-card-actions>
                            <button matButton="elevated" (click)="onDownloadFile(attachment)">
                                <mat-icon fontSet="material-symbols-outlined">download</mat-icon>
                                Download
                            </button>
                            <button matButton="outlined" (click)="onDeleteAttachment(attachment)">
                                <mat-icon fontSet="material-symbols-outlined">delete</mat-icon>
                                Delete
                            </button>
                        </mat-card-actions>
                    </mat-card>
                }
            </div>
        </mat-card-content>
    }
</mat-card>
