
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

// Status chips
.status-overdue {
  @include mat.chips-overrides((
    elevated-container-color: #ffebee,
    label-text-color: #c62828,
  ))
}

.status-initiated {
  @include mat.chips-overrides((
    elevated-container-color: #e3f2fd,
    label-text-color: #1565c0,
  ))
}

.status-completed {
  @include mat.chips-overrides((
    elevated-container-color: #e8f5e9,
    label-text-color: #2e7d32,
  ))
}

.status-in-progress {
  @include mat.chips-overrides((
    elevated-container-color: #fff3e0,
    label-text-color: #ef6c00,
  ))
}

// Priority chips
.priority-low {
  @include mat.chips-overrides((
    elevated-container-color: #e8f5e9,
    label-text-color: #2e7d32,
  ))
}

.priority-medium {
  @include mat.chips-overrides((
    elevated-container-color: #fff3e0,
    label-text-color: #ef6c00,
  ))
}

.priority-high {
  @include mat.chips-overrides((
    elevated-container-color: #ffebee,
    label-text-color: #c62828,
  ))
}

// Label chips
.label-chip[data-color="blue"] {
  @include mat.chips-overrides((
    elevated-container-color: #1e88e5,
    elevated-selected-container-color: #6fa9dd,
    label-text-color: #2c2c2c,
    selected-label-text-color: #2c2c2c,
  ))
}

.label-chip[data-color="green"] {
  @include mat.chips-overrides((
    elevated-container-color: #47ad17,
    elevated-selected-container-color: #8dcf6f,
    label-text-color: #2c2c2c,
    selected-label-text-color: #2c2c2c,
  ))
}

.label-chip[data-color="red"] {
  @include mat.chips-overrides((
    elevated-container-color: #e51e1e,
    elevated-selected-container-color: #e67676,
    label-text-color: #2c2c2c,
    selected-label-text-color: #2c2c2c,
  ))
}

.label-chip[data-color="yellow"] {
  @include mat.chips-overrides((
    elevated-container-color: #e5c11e,
    elevated-selected-container-color: #d4c066,
    label-text-color: #2c2c2c,
    selected-label-text-color: #2c2c2c,
  ))
}

.label-chip[data-color="cyan"] {
  @include mat.chips-overrides((
    elevated-container-color: #1ee592,
    elevated-selected-container-color: #63dba3,
    label-text-color: #2c2c2c,
    selected-label-text-color: #2c2c2c,
  ))
}

.label-chip[data-color="deep-blue"] {
  @include mat.chips-overrides((
    elevated-container-color: #211ee5,
    elevated-selected-container-color: #b9b8ff,
    label-text-color: #f0f0f0,
    selected-label-text-color: #252525,
  ))
}

.label-chip[data-color="magenta"] {
  @include mat.chips-overrides((
    elevated-container-color: #e51eba,
    elevated-selected-container-color: #e262c6,
    label-text-color: #2c2c2c,
    selected-label-text-color: #2c2c2c,
  ))
}

.label-chip[data-color="purple"] {
  @include mat.chips-overrides((
    elevated-container-color: #851ee5,
    elevated-selected-container-color: #a05ae0,
    label-text-color: #2c2c2c,
    selected-label-text-color: #2c2c2c,
  ))
}

.label-chip[data-color="orange"] {
  @include mat.chips-overrides((
    elevated-container-color: #e56e1e,
    elevated-selected-container-color: #e08e57,
    label-text-color: #2c2c2c,
    selected-label-text-color: #2c2c2c,
  ))
}

.label-chip[data-color="pink"] {
  @include mat.chips-overrides((
    elevated-container-color: #fc9aff,
    elevated-selected-container-color: #fdcaff,
    label-text-color: #2c2c2c,
    selected-label-text-color: #2c2c2c,
  ))
}

.label-chip[data-color="yellow-green"] {
  @include mat.chips-overrides((
    elevated-container-color: #bae911,
    elevated-selected-container-color: #c4e05d,
    label-text-color: #2c2c2c,
    selected-label-text-color: #2c2c2c,
  ))
}

// Loading-related elements
.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.loading-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.loading-blur {
  filter: blur(2px);
  opacity: 0.6;
  pointer-events: none;
}

// Error
.simple-error-message {
  color: #c62828;
}

// Text
.normal-text {
  font-size: 10;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.larger-text {
  font-size: 16px;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}
