
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

.status-overdue {
  @include mat.chips-overrides((
    elevated-container-color: #ffebee,
    label-text-color: #c62828,
  ))
}

.status-initiated {
  @include mat.chips-overrides((
    elevated-container-color: #e3f2fd,
    label-text-color: #1565c0,
  ))
}

.status-completed {
  @include mat.chips-overrides((
    elevated-container-color: #e8f5e9,
    label-text-color: #2e7d32,
  ))
}

.status-in-progress {
  @include mat.chips-overrides((
    elevated-container-color: #fff3e0,
    label-text-color: #ef6c00,
  ))
}

.priority-low {
  @include mat.chips-overrides((
    elevated-container-color: #e8f5e9,
    label-text-color: #2e7d32,
  ))
}

.priority-medium {
  @include mat.chips-overrides((
    elevated-container-color: #fff3e0,
    label-text-color: #ef6c00,
  ))
}

.priority-high {
  @include mat.chips-overrides((
    elevated-container-color: #ffebee,
    label-text-color: #c62828,
  ))
}

.label-chip[data-color="blue"] {
  @include mat.chips-overrides((
    elevated-container-color: #1e88e5,
    elevated-selected-container-color: #1e88e5,
    
  ))
}

.label-chip[data-color="green"] {
  @include mat.chips-overrides((
    elevated-container-color: #47ad17,
    elevated-selected-container-color: #47ad17,
  ))
}

.label-chip[data-color="red"] {
  @include mat.chips-overrides((
    elevated-container-color: #e51e1e,
    elevated-selected-container-color: #e51e1e,
  ))
}

.label-chip[data-color="yellow"] {
  @include mat.chips-overrides((
    elevated-container-color: #e5c11e,
    elevated-selected-container-color: #e5c11e,
  ))
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}
