<h2 mat-dialog-title>{{ 'user.title.addUserToProject' | translate }}</h2>

<div mat-dialog-content>
    <form [formGroup]="addUserForm">
        <mat-form-field class="username-field">
            <mat-label>{{ 'auth.title.username' | translate }}</mat-label>
            <input matInput formControlName="username">
            <mat-hint align="end">{{ addUserForm.value.username?.length }} / {{ USERNAME_MAX_LENGTH }}</mat-hint>
            @if (addUserForm.hasError('required', 'username')) {
                <mat-error>{{ 'auth.validation.username.required' | translate }}</mat-error>
            }
            @if (addUserForm.hasError('minlength', 'username')) {
                <mat-error>{{ 'auth.validation.username.minLength' | translate:{ minLength: USERNAME_MIN_LENGTH } }}</mat-error>
            }
            @if (addUserForm.hasError('maxlength', 'username')) {
                <mat-error>{{ 'auth.validation.username.maxLength' | translate:{ maxLength: USERNAME_MAX_LENGTH } }}</mat-error>
            }
        </mat-form-field>

        @if (selectedProjectCache().error) {
            <mat-error>{{ selectedProjectCache().error | translate }}</mat-error>
        }
        @if (selectedProjectCache().isLoading) {
            <div class="spinner-container">
                <mat-spinner diameter="30"></mat-spinner>
                <span>{{ 'auth.title.loading.addUserToProject' | translate }}</span>
            </div>
        }
    </form>
</div>

<div mat-dialog-actions align="end">
    <button mat-button (click)="close()" [disabled]="selectedProjectCache().isLoading">{{ 'common.button.close' | translate }}</button>
    <button mat-flat-button (click)="submit()" [disabled]="addUserForm.invalid || selectedProjectCache().isLoading">{{ 'common.button.add' | translate }}</button>
</div>
